<script>
    const year = new Date().getFullYear();
    document.getElementById("year").innerHTML = year;
    
</script>

<footer class="flex items-center text-zinc-400 justify-center h-16 bg-zinc-900 w-full flex-col">
    <div class="text-sm text-center mb-2 cursor-default">
        2021 - <span id="year"></span>
        &copy;&nbsp;<a href="https://github.com/cojocaru-david" class="text-zinc-400 hover:text-zinc-500">David Cojocaru</a>
    </div>
    <p class="text-sm text-center">
        All rights reserved.
    </p>
</footer>
