<script>
    const year = document.getElementById('year');
    const elapsedTime = document.getElementById('elapsedTime');

    year.innerText = new Date().getFullYear();

    const start = performance.now();

    window.addEventListener('load', () => {
        const end = performance.now();
        elapsedTime.innerText = Math.round(end - start);
    });
</script>

<footer class="flex items-center text-zinc-400 mt-7 justify-center h-16 w-full flex-col">
    <div class="text-sm text-center mb-2 cursor-default">
        2021 - <span id="year"></span>
        &copy;&nbsp;<a href="https://github.com/cojocaru-david" class="text-zinc-200 hover:text-zinc-500">David Cojocaru</a>
    </div>
    <p class="text-sm text-center">
        All rights reserved.
        <span id="elapsedTime" class="text-zinc-400"></span>ms
    </p>
</footer>
