---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const index = posts.findIndex((post) => {
  return Astro.request.url.includes(post.id);
});

const nextPost = posts[index + 1];
const prevPost = posts[index - 1];
---

<aside class="flex flex-col sm:flex-row mt-10 gap-4 w-full">
  {
    prevPost && (
      <a
        href={`/blog/${prevPost.id}/`}
        class="group flex-1 flex flex-col grow text-sm p-4 rounded-lg border border-neutral-300 dark:border-neutral-700 dark:hover:border-blue-400 hover:border-blue-300 transition-all dark:hover:bg-blue-600/20 hover:bg-blue-100"
      >
        <p class="dark:text-neutral-400 text-neutral-600 mb-1 group-hover:dark:text-neutral-300 group-hover:text-neutral-700">
          &larr; Previous post
        </p>
        <p class="font-semibold dark:text-neutral-300 text-neutral-700 group-hover:dark:text-blue-400 group-hover:text-blue-800">
          {prevPost.data.title}
        </p>
      </a>
    )
  }
  {
    nextPost && (
      <a
        href={`/blog/${nextPost.id}/`}
        class="group flex-1 flex flex-col text-right grow text-sm p-4 rounded-lg border border-neutral-300 dark:border-neutral-700 dark:hover:border-blue-400 hover:border-blue-300 transition-all dark:hover:bg-blue-600/20 hover:bg-blue-100"
      >
        <p class="dark:text-neutral-400 text-neutral-600 mb-1 group-hover:dark:text-neutral-300 group-hover:text-neutral-700">
          Next post &rarr;
        </p>
        <p class="font-semibold dark:text-neutral-300 text-neutral-700 group-hover:dark:text-blue-400 group-hover:text-blue-800">
          {nextPost.data.title}
        </p>
      </a>
    )
  }
</aside>
